body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
.grid {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    padding: 0;
    justify-content: space-between;
    max-width: 960px;
    flex-wrap: wrap;
    margin: 22px 30px 20px;
    align-self: center;
}

.square {
    display: flex;
    padding: 29px;
    border: 1px solid rebeccapurple;
}

button {
    display: flex;
    justify-self: flex-start;
    align-self: center;
    margin: 40px 1000px 0 300px;
}